<% provide(:title, "Edit user") %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <h2>Update your profile</h2>

    <%= render 'form', user: @user %>

  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>