@import 'material';

.logo {
	font-size: 24px;
}

.mdl-cell>h2{
	text-align: center;
}

.mdl-textfield{
	width: 100%;
}

.nUQ{
	margin-left: 15px
}

#userName-label{
	margin-top: 3%;
	text-align: center;
	font-size: 20px;
}

.user-action-card{
	width: 75%;
	margin: 0 12.5%;
}
.test-action-card{
	width: 87%;
	margin: 0 6.5%;
}
.report-card{
	width: 100%;
	p{
		font-size: 18px;
		strong{
			color: black;
		}
	}
}
.alert{
	display: block;
	position: fixed;
	top: 12%;
	right: 5%;
	z-index: 1001;
	padding: 15px;
	color: white;
	font-size: 16px;
	border-radius: 3px;
	opacity: 0.8;
	&-success{
		background-color: #1dd300;		
	}
	&-warning{
		background-color: #ea0037;
	}
}

#error_explanation{
	color: red
}
#text-report{
	white-space: pre-wrap;
}