@import 'material';

.logo {
	font-size: 24px;
}

.mdl-cell>h2{
	text-align: center;
}

.mdl-textfield{
	width: 100%;
}

.nUQ{
	margin-left: 15px
}

#userName-label{
	margin-top: 3%;
	text-align: center;
	font-size: 20px;
}

.user-action-card{
	width: 75%;
	margin: auto 12.5%;
}
