<% provide(:title, 'Test again') %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <h2>Test again</h2>

    <%= render 'form', test: @test %>

  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>