<% provide(:title, 'New test') %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <h2>New Test</h2>

    <%= render 'form', test: @test %>
    
  </div>
  <div class="mdl-cell mdl-cell--4-col"></div>
</div>
